@mixin titleShadowBefore {
  content: attr(text);
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  top: -14px;
  left: 0;
  height: 22px;
  overflow: hidden;
}

@mixin titleShadowAfter {
  content: attr(text);
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
  top: -22px;
  left: 0;
  height: 15px;
  overflow: hidden;
}
